* {
    font-family: 'Helvetica';
    font-size: 17px;
}

header section {
    background-image: url("../images/pattern.webp");
    background-size: cover;
    margin: 40px auto;
}

h1 {
    color: khaki;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: larger;
}

a {
    color: blue;
    font-weight: bold;
}

a :hover {
    color: lightblue;
}

.section-head {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes{
    background-color: mediumspringgreen;
}

#art-frames {
    background-color: lightcoral;
}

#clean-paint {
    background-color: skyblue;
}