html {
    font-family: 'Open Sans';
    font-size: 20px;
}

body {
    background-image: linear-gradient(to bottom left, #0c193e, #040814, #9a36ff);
    color: #cd9cff;
    min-height: 88vh;
}

/*Header & Nav Bar*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    background-image: linear-gradient(to top right, #040814, #0c193e);
    z-index: 10;
}

header img {
    height: 2.5rem;
    padding: .25rem;
}

nav {
    float: right;
    padding: 0;
    height: 3rem;
    display: inline-flex;
    align-items: center;;
}

nav h3 {
    font-weight: 300;
}

nav ul {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0 1rem;
    margin: 0;
}

nav li {
    margin: 0 .125rem;
}

nav a {
    text-decoration: none;
    color: #cd9cff;
    border-radius: .25rem;
    border: none;
    padding: .2rem .5rem;
    transition: all .25s linear;
}

nav a:hover {
    color: #9a36ff;
    background-color: #cd9cff;
    box-sizing: border-box;
}

main {
    text-align: center;
    padding: 0 1rem;
    margin-top: 5rem;
}

.tiles {
    display: flex;
    justify-content: center;
    align-content: center;
    height: fit-content;
    column-gap: 1.5rem;
    max-width: 95vw;
    flex-wrap: wrap;
}

.tile {
    width: 30%;
    background-image: linear-gradient(to bottom right, #9a36ff, #b469ff);
    border-radius: .3rem;
    height: 100%;
    transition: width .75s, height 1s;
    margin: .5rem 0;
}

.tile a {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tile h5 {
    display: none;
}

.tile .image-container {
    width: 90%;
    height: 60%;
    margin-top: 5%;
    position: relative;
}

.image-container img {
    width: 100%;
}

.bot {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.mid {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 1.25s 3.5s;
}

.top {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 1.25s 1.5s;  
}

.tile .content {
    margin-top: 60%;
    width: 85%;
}

.tile a {
    text-decoration: inherit;
    color: inherit;
}

.tile:hover {
    width: 35%;
    margin: .1rem 0;
}

.tile:hover h5 {
    display: inherit;
}

.tile:hover .top {
    opacity: 0;
}

.tile:hover .mid {
    opacity: 0;
}

.explanation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.thought {
    width: 30%;
    margin: 0;
    padding: 0;
}

.thought p {
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: .5rem;
}

footer h4 {
    margin: 0;
}

footer .image-container {
    width: 15%;
}

footer img {
    border-radius: 8px;
}